<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Recip name:</strong>
  <%= @message.recip_name %>
</p>

<p>
  <strong>Recip number:</strong>
  <%= @message.recip_number %>
</p>

<p>
  <strong>Sent count:</strong>
  <%= @message.sent_count %>
</p>

<p>
  <strong>Sent:</strong>
  <%= @message.sent %>
</p>

<p>
  <strong>Sent at:</strong>
  <%= @message.sent_at %>
</p>

<p>
  <strong>Sent by name:</strong>
  <%= @message.sent_by_name %>
</p>

<p>
  <strong>Sent by number:</strong>
  <%= @message.sent_by_number %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @message.priority %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
